.calculator {
	border: 1px solid rgba(127, 127, 127, 0.5);
	background-color: rgba(191, 191, 191, 0.25);
	box-shadow: 2px 2px 2px 2px rgba(127, 127, 127, 0.5);
	border-radius: 4px;
	margin: 1em;
	padding: 2em;
	width: 600px;
	box-sizing: border-box;
	}

.calculator .panel-left{
	float: left;
	width: 215px;
	}
.calculator .panel-right{
	float: left;
	margin-left: 20px;
	width: 305px;
	}

.calculator .calculator-display{
	width: 212px;
	font-size: 1.5em;
	line-height: 1.5em;
	height: auto;
	padding: 0.5em;
	text-align: right;
	box-sizing: border-box;
	}

.calculator .calculator-display.success{
	background-color: rgba(140, 255, 160, 0.25);
	}
.calculator .calculator-display.error{
	background-color: rgba(255, 140, 120, 0.25);
	}


.calculator .calculator-messenger{
	display: none;
	background-color: rgba(255, 140, 120, 1);
	padding: 2px 4px;
	margin-bottom: 4px;
	color: red;
	}
.calculator .calculator-messenger:empty{
	padding: 0;
	margin: 0;
	}

.calculator .calculator-scroll{
	height: 288px;
	padding: 3px 5px;
	overflow-y: auto;
	background-color: white;
	border: 1px solid rgba(127, 127, 127, 0.5);
	font-family: monospace;
	border-radius: 4px;
	}
.calculator .calculator-pad button {
	width: 50px;
	margin-bottom: 4px;
	}
.calculator .calculator-pad button.clear,
.calculator .calculator-pad button.evaluate {
	width: 104px;
	}
